@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

html {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
}

.navpc {
  display: none;
}

.actualite-card {
  z-index: 999;
  .actualite-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  // (le reste du style ici…)
}

.separator {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.hero-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }
}

.hero-navbar {
  position: absolute; // ✅ pour être au-dessus de la vidéo
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(151, 151, 151);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 80px; // facultatif mais peut forcer l’alignement
}

.hero-logo {
  z-index: 1200;
  height: 60px;
  object-fit: contain;
  margin: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.hero-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  display: inline-block;

  &:hover {
    background: white;
    color: #000;
  }
}

.scroll-circle {
  position: relative;
  top: 200px;
  z-index: 1;
  margin-top: 2rem;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  animation: float-up-down 1.6s ease-in-out infinite;
}

.arrow-down {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

@keyframes float-up-down {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(1 px);
  }
}

// scss après hero video "evenements & formations"

.wrapper {
  .btn-actus {
    display: inline-block;
    background-color: transparent;
    color: #e11d48;
    font-family: "Montserrat";
    border: 2px solid #e11d48;
    padding: 0.6rem 1.4rem;
    font-weight: 600;
    transition: 0.3s ease;
    margin-bottom: 0.5rem;
    margin-top: 20px;
    text-decoration: none;

    &:hover {
      background-color: #e11d48;
      color: white;
    }
  }
  .fond1-section h2 {
    font-family: "Montaga";
    font-size: 35px; // text-lg
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .fond1-section p {
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 0.875rem; // text-sm
    color: #4b5563; // text-gray-600
    margin-bottom: 0.5rem;
  }
  .bg-white {
    padding: 50px 30px;
    h1 {
      font-family: "Montserrat";
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
  .actualites-grid {
    display: grid;
    gap: 1.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .actualite-card {
      background-color: #f3f4f6; // équivalent à bg-gray-100
      border: 2px solid gray;
      margin: 40px 0 0 0;
      padding: 1rem;
      height: fit-content;

      h3 {
        font-family: "Montaga";
        font-size: 1.125rem; // text-lg
        font-weight: 700;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      p {
        margin-top: 20px;
        font-family: "Montserrat";
        font-size: 0.875rem; // text-sm
        color: #4b5563; // text-gray-600
        margin-bottom: 0.5rem;
      }

      small {
        display: block;
        margin-top: 20px;
        margin-bottom: 0.5rem;
        font-size: 0.75rem; // text-xs
        color: #6b7280; // text-gray-500
      }

      a {
        font-family: "Montserrat";
        font-size: 0.875rem;
        color: #047857; // text-green-700
        text-decoration: none;

        &:hover {
          color: #065f46;
        }
      }
      img {
        width: 100%;
        height: 150px;
      }
    }
  }
}

// scss après hero video "notre histoire"

.text-zone {
  .cta {
    position: relative;
    z-index: 2;
  }
  h1 {
    font-family: "Montserrat";
    font-size: 15px;
    margin-bottom: 20px;
  }
  p {
    font-family: "Montserrat";
    font-size: 15px;
    margin-bottom: 20px;
  }
  h2 {
    font-family: "Montaga";
    margin-bottom: 20px;
    font-size: 35px;
  }
  .cta {
    display: inline-block;
    background-color: transparent;
    color: #e11d48;
    font-family: "Montserrat";
    border: 2px solid #e11d48;
    padding: 0.6rem 1.4rem;
    font-weight: 600;
    transition: 0.3s ease;
    text-decoration: none;

    &:hover {
      background-color: #e11d48;
      color: white;
    }
  }
}

.fond2-section {
  .logos {
    .logo1 {
      font-family: "Montserrat";
      h3 {
        padding: 20px;
        font-size: 1rem;
      }
    }
  }
}

.bouteille {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 40px;
}
.logo1 {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

// scss après hero video "nos domaines" La carte

.bg-orange-100 {
  padding: 50px 30px;
  .text-2xl {
    font-family: "Montaga";
    font-size: 35px;
  }
}

// scss après hero video "nos partenaire"

.fond3-section {
  h1 {
    font-family: "Montserrat";
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.bg-red-100 {
  .max-w-xl {
    font-family: "Montserrat";
    margin-top: 40px;
  }
  h1 {
    font-family: "Montserrat";
    font-size: 15px;
    margin-bottom: 20px;
  }
  padding: 50px 30px;
  .text-2xl {
    font-family: "Montaga";
    font-size: 35px;
  }
  .grid-partenaires {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo-partenaire {
      width: 150px;
      height: auto;
      object-fit: contain;
    }
  }
}

// fonds de couleurs

.fond1-section {
  background-image: url("../../pages/img/fonds/fond1.png"); // adapte le chemin
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  padding: 2rem;
  background-size: 700px;
  position: relative;
  z-index: 0;

  h1,
  h2,
  p {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0); // optionnel : transparence ou overlay
    z-index: 0;
  }
}

// fonds 2 (beige)

.fond2-section {
  background-image: url("../../pages/img/fonds/fond2.png"); // adapte le chemin
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  padding: 2rem;
  background-size: 700px;
  position: relative;
  z-index: 0;

  h1,
  h2,
  p {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0); // optionnel : transparence ou overlay
    z-index: 0;
  }
}

// fonds 3 (saumon)

.fond3-section {
  background-image: url("../../pages/img/fonds/fond3.png"); // adapte le chemin
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  padding: 2rem;
  background-size: 700px;
  position: relative;
  z-index: 0;

  h1,
  h2,
  p {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0); // optionnel : transparence ou overlay
    z-index: 0;
  }
}

// version tablette

@media (min-width: 768px) and (max-width: 1024px) {
  .bouteille {
    width: 500px;
  }
  .hero-video {
    .hero-navbar {
      padding: 3.2rem;
      .hero-logo {
        height: 150px;
      }
    }
    .burger-toggle {
      span {
        width: 50px;
      }
    }
  }
  .hero-content {
    .hero-btn {
      font-size: 40px;
      padding: 2rem;
    }
    .scroll-circle {
      top: 300px;
      width: 60px;
      height: 60px;
    }
    .arrow-down {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      transform: rotate(-45deg);
    }
  }
  .wrapper {
    .fond1-section {
      p {
        width: 60%;
        font-size: 20px;
      }
      .gauche {
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 45px;
        }
      }
    }
  }
  .actualites-grid {
    display: grid;
    gap: 1.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .actualite-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 1rem;
      background-color: #f3f4f6;
      border: 1px solid gray;
      box-sizing: border-box;

      h3 {
        font-family: "Montaga";
        font-size: 25px !important;
        margin-bottom: 0.5rem;
      }

      p {
        margin-top: 20px;
        width: 90%;
        font-size: 20px !important;
        margin-bottom: auto; // pousse les éléments suivants vers le bas
      }

      small {
        margin-top: 20px;
        margin-bottom: 1rem;
        font-size: 1.3rem;
      }

      a {
        font-size: 20px !important;
        margin-top: 20px;
        text-decoration: none;
        color: #047857;

        &:hover {
          color: #065f46;
        }
      }
    }
  }

  .filtres-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // ⬅️ 2 colonnes égales
    gap: 1rem 5rem; // espace lignes / colonnes
    max-width: 600px; // 2×300px
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .fond3-section {
    h1 {
      font-family: "Montserrat";
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .select-wrapper {
    position: relative;

    select {
      width: 120%;
      padding: 1rem 1rem;
      font-size: 1.2rem;
      color: #333;
      cursor: pointer;
      padding-right: 2.5rem;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -30px;
      width: 8px;
      height: 8px;
      border-right: 2px solid #333;
      border-bottom: 2px solid #333;
      transform: translateY(-50%) rotate(45deg);
      pointer-events: none;
    }
  }
  .fond2-section {
    .logos .logo1 h3 {
      font-size: 20px;
    }
    .text-zone {
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 45px;
      }
      p {
        width: 60%;
        color: #4b5563;
        font-size: 20px;
      }
      .cta {
        margin-bottom: 0.5rem;
        margin-top: 20px;
      }
    }
  }
  .fond3-section {
    .text-2xl {
      font-family: "Montaga";
      font-size: 45px;
    }
  }
}

// version desktop

@media (min-width: 1025px) {
  .wrapper {
    display: flex;
    justify-content: center;
    .fond1-section {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      justify-items: end;
      padding: 70px;
      margin: 80px auto;
      background: url("../../pages/img/fonds/fond1.png") no-repeat left center;
      background-size: contain;
      gap: 5rem;

      h1 {
        font-family: "Montserrat";
        font-size: 1.2rem;
        color: #1f2937;
        margin-bottom: 0.5rem;
      }

      h2 {
        font-family: "Montaga";
        font-size: 3.4rem;
        color: #000000;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1rem;
        max-width: 95%;
        font-family: "Montserrat";
        margin-bottom: 1.5rem;
        line-height: 1.6;
      }
    }

    .btn-actus {
      display: inline-block;
      background-color: transparent;
      color: #e11d48;
      font-family: "Montserrat";
      border: 2px solid #e11d48;
      padding: 0.6rem 1.4rem;
      font-weight: 600;
      transition: 0.3s ease;
      text-decoration: none;

      &:hover {
        background-color: #e11d48;
        color: white;
      }
    }
  }

  .actualites-grid {
    display: grid;
    grid-template-columns: repeat(
      3,
      minmax(160px, 1fr)
    ); // 3 colonnes compactes
    gap: 1.2rem;
    width: fit-content;
    height: fit-content;
    justify-items: end;
  }

  .actualite-card {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    margin: 0 !important;
    max-width: 180px; // Limite la largeur réelle
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 0;
  }

  .actualite-card img.actualite-image {
    width: 100%;
    height: 70px; // ✅ Hauteur réduite
    object-fit: cover;
    margin: 0;
  }

  .actualite-card h3 {
    font-family: "Montaga", serif;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.5rem 0 0.25rem;
    padding: 0 8px;
  }

  .actualite-card p {
    font-size: 0.7rem;
    color: #374151;
    padding: 0 8px;
    margin-bottom: 0.25rem;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .actualite-card small {
    font-size: 0.65rem;
    color: #ff4949;
    padding: 0 8px;
    margin-bottom: 0.25rem;
  }

  .actualite-card a {
    font-size: 0.75rem;
    color: #ff4949;
    font-weight: 600;
    text-decoration: none;
    padding: 0 8px 0.75rem;
    display: inline-block;

    &::before {
      content: "→ ";
    }

    &:hover {
      color: #d11a2a;
    }
  }

  .fond2-section {
    position: relative; // nécessaire pour l'absolute de .bouteille
    margin: 150px auto 240px auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text-zone {
      max-width: 800px; // augmente ici
      flex: 1; // permet au texte de s'étendre sans casser le layout
      padding-left: 40px;

      h1 {
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        font-family: "Montserrat";
      }

      h2 {
        font-size: 3.4rem;
        font-family: "Montaga";
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1rem;
        color: #374151;
        line-height: 1.3;
        width: 15rem;
        margin-bottom: 1.5rem;
        font-family: "Montserrat";
      }

      .cta {
        display: inline-block;
        background-color: transparent;
        color: #e11d48;
        font-family: "Montserrat";
        border: 2px solid #e11d48;
        padding: 0.6rem 1.4rem;
        font-weight: 600;
        transition: 0.3s ease;
        text-decoration: none;

        &:hover {
          background-color: #e11d48;
          color: white;
        }
      }
    }

    .bouteille {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: auto;
      margin-bottom: 80px;
      object-fit: contain;
      z-index: 1;
    }

    .logos {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      flex: 0;
      width: auto;
      padding-right: 40px; // pour équilibrer visuellement

      .logo1 {
        display: flex;
        align-items: center;
        margin: 0;
        gap: 0.6rem;

        .img-1 {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }

        h3 {
          font-size: 1rem;
          font-weight: normal;
          color: #1f2937;
          font-family: "Montserrat";
        }
      }
    }
  }

  .flex-carte {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px;
    gap: 40px;

    .map-edit {
      border: 1px solid black;
      width: 70% !important;
      height: 600px !important;
    }
  }
  .fond3-section {
    margin-top: 60px;
    margin-bottom: 60px;
    h1 {
      font-size: 1.2rem !important;
      padding-left: 40px;
    }
    h2 {
      font-size: 3.4rem !important;
      padding-left: 40px;
    }
  }
  .bg-red-100 {
    h1 {
      font-size: 1.2rem;
      padding-left: 40px;
    }
    .text-2xl {
      font-size: 3.4rem !important;
      padding-left: 40px;
    }
    .max-w-xl {
      font-size: 1rem;
      width: 70%;
      padding-left: 40px;
    }
    .grid-partenaires {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .separator {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .fond4-section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .hero-navbar {
    display: none !important;
  }
  .navpc {
    display: block;
  }
  .hero-btn {
    position: relative;
    top: 40px;
  }
}
